body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
}

/*程式名稱*/
.DyForm3-ProgramName {
    margin-top: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
/*按鍵:新增、修改、儲存、取消、預覽、作廢、回上頁、清除、*/
.DyForm3-BtnAdd, .DyForm3-BtnMod, .DyForm3-BtnSave, .DyForm3-BtnCancel, .DyForm3-BtnShow, .DyForm3-BtnDef, .DyForm3-BtnRe, .DyForm3-BtnClear {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: red;
    border-radius: 6px;
    border: 1px solid #cc3025;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
    margin: 0px;
    width:75px;
    height:30px;
}
.DyForm3-BtnAdd:focus, .DyForm3-BtnMod:focus, .DyForm3-BtnSave:focus, .DyForm3-BtnCancel:focus, .DyForm3-BtnShow:focus, .DyForm3-BtnDef:focus, .DyForm3-BtnRe:focus, .DyForm3-BtnClear:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #fc8c86;
    }
.DyForm3-BtnAdd:disabled, .DyForm3-BtnMod:disabled, .DyForm3-BtnSave:disabled, .DyForm3-BtnCancel:disabled, .DyForm3-BtnShow:disabled, .DyForm3-BtnDef:disabled, .DyForm3-BtnRe:disabled, .DyForm3-BtnClear:disabled {
border: 1px solid gray;
}


/*按鍵:查詢、批核*/
.DyForm3-BtnQuery, .DyForm3-BtnApp {
    box-shadow: inset 0px 1px 0px 0px #f2f2f2;
    /*background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);*/
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-shadow: 0px 1px 0px #1570cd;
    margin: 0px;
    width: 75px;
    height: 30px;
}
.DyForm3-BtnQuery:focus, .DyForm3-BtnApp:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #7fb3eb;
}
.DyForm3-BtnQuery:disabled, .DyForm3-BtnApp:disabled {
    border: 1px solid gray;
}

/*按鍵:離開*/
.DyForm3-BtnExit {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /*background: linear-gradient(to bottom, #6ed117 5%, #336906 100%);*/
    background-color: #348000;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #fdfffc;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c9447;
    margin: 0px;
    width: 75px;
    height: 30px;
}
.DyForm3-BtnExit:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #8ccd55;
    color: white;
}
.DyForm3-BtnExit:disabled {
    border: 1px solid gray;
}

/*必填符號*/
.DyForm3-DyNotEmptyMark {
    color: red;
    background-color: inherit;
    padding: 0;
    margin-left: 3px;
    margin-top: 5px;
    width: 10px;
    font-weight: bold;
}
/*單選LookUp*/
.DyForm3-BtnLookUp {
    width: 22px;
    height: 22px;
    background-color: gainsboro;
    color: dimgray;
    border-radius: 3px;
    border: 0px;
    font-size: 12px;
    margin-left: 1px;
    padding: 0px;
    margin-top:3px;
}
/*輸入框*/
.DyForm3-TextBox {
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: black;
    margin-left: 3px;
    border-radius: 6px;
    border:1px solid #ced4da
}
/*下拉選單*/
.DyForm3-Select {
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: black;
    border-radius: 6px;
    border: 1px solid #ced4da
}
/*藍色Label*/
.DyForm3-Label {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #0033cc;
    font-weight: bold;
}
/*黑色Label*/
.DyForm3-LabelBlack {
    font-size: 16px;
    color: black;
    font-weight: bold;
}
/*紅色Label*/
.DyForm3-LabelRed {
    font-size: 16px;
    color: red;
    font-weight: bold;
}
/*藍色Label*/
.DyForm3-LabelBlue {
    font-size: 16px;
    color: blue;
    font-weight: bold;
}
/*指定店倉*/
.DyForm3-BtnShop {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #dcedff 5%, #dcedff 100%);
    background-color: #dcedff;
    border-radius: 6px;
    border: 1px solid #a1a0a0;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c9447;
    margin: 0px;
    width: 90px;
    height: 30px;
}
.DyForm3-BtnShop:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #dcedff;
    }
/*點擊欄位標題可進行排序*/
.DyForm3-LabelSort {
    font-size: 16px;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 30px
}
/*按鍵:DM預覽*/
.DyForm3-BtnShowEDM {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #348000;
    border-radius: 6px;
    border: 1px solid #348000;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
    margin: 0px;
    width: 90px;
    height: 30px;
}
.DyForm3-BtnShowEDM:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #8ccd55;
    }
/*按鍵:會員專區預覽*/
.DyForm3-BtnVShow {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: red;
    border-radius: 6px;
    border: 1px solid #cc3025;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
    margin: 0px;
    width: 115px;
    height: 30px;
}
.DyForm3-BtnVShow:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #fc8c86;
}
.DyForm3-BtnVShow:disabled {
    border: 1px solid gray;
}
/*Table*/
.DyForm3-Table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
/*完整顯示請打橫看*/
.DyForm3-Horizontal {
    margin-top: 7px;
    margin-left: 8px;
    font-size: 14px;
    color: #0033cc;
    font-weight: bold;
    display:none;
}
/*Menu主畫面*/
.DyForm3-PanelMenu {
    padding: 0px;
    height: 750px;
    width: 100%;
    overflow: auto;
    background-image: url(images/MenuLogo-C21.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}

/*第一層主畫面*/
.DyForm3-PanelIni {
    padding: 0px;
    height: 750px;
    width: 100%;
    /*overflow: auto;*/
    background-image: url(images/MenuLogo-C21.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
}

/*第二層主畫面*/
.DyForm3-PanelD {
    height: 900px;
    width: 1400px;
    left: -200px;
    overflow: auto;
    background-image: url(images/MenuLogo-C21.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right top;
}

/*第二層主畫面(mobile)*/
.DyForm3-PanelMobD {
    /*height: 50%;
    width: 50%;*/
    /*left: -200px;*/
    overflow: auto;
    background-image: url(images/MenuLogo-C21.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right top;
}

/*第一層Table*/
.DyForm3-TableIni {
    overflow: auto;
    height: 530px;
}
/*第一層Table(表頭資料多時使用)*/
.DyForm3-TableIni1 {
    overflow: auto;
    height: 450px;
}
/*第一層Table(mobile)*/
.DyForm3-TableIniMob {
    overflow: auto;
    height: 530px;
    width:50%;
}
/*第一層Table(mobile 表頭資料多時使用)*/
.DyForm3-TableIniMob1 {
    overflow: auto;
    height: 450px;
    width:50%;
}
/*第一層Table(EDM)*/
.DyForm3-TableIniEDM {
    overflow: auto;
    height: 400px;
}

/*第二層Table*/
.DyForm3-TableD {
    overflow: auto;
    height: 550px;
}
/*第二層Table(表頭資料多時使用)*/
.DyForm3-TableD1 {
    overflow: auto;
    height: 550px;
}

/*Grid內的放大鏡圖案樣式*/
.DyForm3-Search {
    font-size: 20px;
    color: #0077FE;
    /*cursor: pointer;*/
}

/*手機畫面*/
@media (max-width:767px) {
    .DyForm3-PanelMenu {
        height: 580px;
        background-image: url(images/MenuLogo-P6.jpg);
    }
    .DyForm3-PanelIni {
        height: 580px;
        background-image: url(images/MenuLogo-P6.jpg);
    }
    .DyForm3-TableIni {
        height: 380px;
    }
    .DyForm3-TableIni1 {
        height: 280px;
    }
    .DyForm3-TableIniMob {
        height: 380px;
        width: 100%;
    }
    .DyForm3-TableIniMob1 {
        height: 310px;
        width: 100%;
    }
    .DyForm3-TableIniEDM {
        height: 220px;
    }
    .DyForm3-Horizontal {
        display:inline ;
    }
    /*螢幕縱向*/
    @media screen and (orientation: portrait) {
        .DyForm3-PanelD {
            height: 650px;
            width: 100%;
            left: 0px;
            background-image: url(images/MenuLogo-P6.jpg);
        }
        .DyForm3-PanelMobD {
            background-image: url(images/MenuLogo-P6.jpg);
        }
        .DyForm3-TableD {
            height: 450px;
        }
        .DyForm3-TableD1 {
            height: 380px;
        }
    }
    /*螢幕橫向*/
    @media screen and (orientation: landscape) {
        .DyForm3-PanelD {
            height: 280px;
            width: 100%;
            left: 0px;
            background-image: url(images/MenuLogo-P6.jpg);
        }
        .DyForm3-PanelMobD {
            background-image: url(images/MenuLogo-P6.jpg);
        }
        .DyForm3-TableD {
            height: 110px;
        }
        .DyForm3-TableD1 {
            height: 50px;
        }
    }
}




