/*程式名稱*/
.DyForm3-ProgramName {
    margin-top: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
/*按鍵:新增、修改、儲存、取消、預覽、作廢、回上頁、清除、*/
.DyForm3-BtnAdd, .DyForm3-BtnMod, .DyForm3-BtnSave, .DyForm3-BtnCancel, .DyForm3-BtnShow, .DyForm3-BtnDef, .DyForm3-BtnRe, .DyForm3-BtnClear {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: red;
    border-radius: 8px;
    border: 1px solid #cc3025;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
    margin: 0px;
    width:75px;
    height:30px;
}
.DyForm3-BtnAdd:focus, .DyForm3-BtnMod:focus, .DyForm3-BtnSave:focus, .DyForm3-BtnCancel:focus, .DyForm3-BtnShow:focus, .DyForm3-BtnDef:focus, .DyForm3-BtnRe:focus, .DyForm3-BtnClear:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #fc8c86;
    }
/*按鍵:查詢、批核*/
.DyForm3-BtnQuery, .DyForm3-BtnApp {
    box-shadow: inset 0px 1px 0px 0px #f2f2f2;
    /*background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);*/
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-shadow: 0px 1px 0px #1570cd;
    margin: 0px;
    width: 75px;
    height: 30px;
}
.DyForm3-BtnQuery:focus, .DyForm3-BtnApp:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #7fb3eb;
}
/*按鍵:離開*/
.DyForm3-BtnExit {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    /*background: linear-gradient(to bottom, #6ed117 5%, #336906 100%);*/
    background-color: #348000;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #fdfffc;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c9447;
    margin: 0px;
    width: 75px;
    height: 30px;
}
.DyForm3-BtnExit:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #8ccd55;
    color: white;
}
/*必填符號*/
.DyForm3-DyNotEmptyMark {
    color: red;
    background-color: inherit;
    padding: 0;
    margin-left: 3px;
    margin-top: 5px;
    width: 10px;
    font-weight: bold;
}
/*單選LookUp*/
.DyForm3-BtnLookUp {
    width: 25px;
    height: 25px;
    background-color: gainsboro;
    color: dimgray;
    border-radius: 3px;
    border: 0px;
    font-size: 12px;
    margin-left: 1px;
    padding: 0px;
    margin-top:3px;
}
/*輸入框*/
.DyForm3-TextBox {
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: black;
    margin-left: 3px;
}
/*藍色Label*/
.DyForm3-Label {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #0033cc;
    font-weight: bold;
}
/*黑色Label*/
.DyForm3-LabelBlack {
    font-size: 16px;
    color: black;
    font-weight: bold;
}
/*紅色Label*/
.DyForm3-LabelRed {
    font-size: 16px;
    color: red;
    font-weight: bold;
}
/*指定店倉*/
.DyForm3-BtnShop {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #dcedff 5%, #dcedff 100%);
    background-color: #dcedff;
    border-radius: 6px;
    border: 1px solid #a1a0a0;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c9447;
    margin: 0px;
    width: 90px;
    height: 30px;
}
    .DyForm3-BtnShop:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #dcedff;
    }
/*點擊欄位標題可進行排序*/
.DyForm3-LabelSort {
    font-size: 16px;
    color: red;
    font-weight: bold;
    position: absolute;
    right: 30px
}

/*按鍵:DM預覽*/
.DyForm3-BtnShowEDM {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: #348000;
    border-radius: 8px;
    border: 1px solid #348000;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
    margin: 0px;
    width: 90px;
    height: 30px;
}

    .DyForm3-BtnShowEDM:focus {
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 3px #8ccd55;
    }

/*Table*/
.DyForm3-Table {
    width: 95%;
    margin-left: auto;
    margin-right: auto
}

/*完整顯示請打橫看*/
.DyForm3-Horizontal {
    margin-top: 7px;
    margin-left: 8px;
    font-size: 14px;
    color: #0033cc;
    font-weight: bold;
}
