/*程式名稱*/
.DyForm3-ProgramName {
    margin-top: 5px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}
/*按鍵:新增*/
.DyForm3-BtnAdd {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: red;
    border-radius: 8px;
    border: 1px solid #cc3025;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #631b16;
}
.DyForm3-BtnAdd:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #fc8c86;
}
/*按鍵:清除、查詢*/
.DyForm3-BtnClear, .DyForm3-BtnQuery {
    box-shadow: inset 0px 1px 0px 0px #f2f2f2;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-shadow: 0px 1px 0px #1570cd;
}
.DyForm3-BtnClear:focus, .DyForm3-BtnQuery:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #7fb3eb;
}
/*按鍵:離開*/
.DyForm3-BtnExit {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #6ed117 5%, #336906 100%);
    background-color: #6ed117;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #fdfffc;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 14px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #6c9447;
}
.DyForm3-BtnExit:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 3px #8ccd55;
    color: white;
}
/*必填符號*/
.DyForm3-DyNotEmptyMark {
    color: red;
    background-color: inherit;
    padding: 0;
    margin-left:3px;
    margin-top: 5px;
    width: 10px;
}
/*單選LookUp*/
.DyForm3-BtnLookUp {
    width: 25px;
    height: 25px;
    background-color: gainsboro;
    color: dimgray;
    border-radius: 3px;
    border: 0px;
    font-size: 12px;
    margin-left: 1px;
    padding: 0px;
    margin-top:3px;
}
.DyForm3-TextBox {
    width: 150px;
    height: 30px;
    font-size: 16px;
    color: black;
    margin-left: 3px;
}
.DyForm3-Label {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    font-size: 16px;
    color: black;
}
